@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
:root
{
  --black: #333;
  --white: #fff;
}
*
{
  font-family: 'Domine', serif;
  scroll-behavior: smooth;
}
.text-white
{
  color: var(--white);
}
.text-black
{
  color: var(--black) !important;
}
.custom_heading
{
  text-align: center;
  font-family: 'EB Garamond', serif !important;
  font-size: 3rem;
}
.custom_heading:after 
{
  background: linear-gradient(135deg, #3bb18e 52%, #007ccf 92%);
  border-radius: 5px;
  content: "";
  display: block;
  height: 2px;
  margin: 5px auto 15px;
  width: 90px;
}
.custom_heading span
{
  background: linear-gradient(45deg, #007ccf 62%, #3bb18e 92%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-family: 'EB Garamond', serif !important;
  font-size: 2.8rem;
}
.uk-button-danger
{
  border-bottom-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  background: linear-gradient(45deg, #007ccf 12%, #3bb18e 92%) !important;
  color: #fff;
}
.uk-button-danger:hover
{
  background: linear-gradient(45deg, #3bb18e 12%, #007ccf 100%) !important;
}
.uk-button-primary
{
  border-bottom-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  background: linear-gradient(45deg, #3bb18e 12%, #007ccf 100%) !important;
}
.uk-button-primary:hover
{
  background: linear-gradient(45deg, #007ccf 12%, #3bb18e 92%) !important;
}
.uk-button
{
  text-transform: capitalize !important;
}