.custom_banner_section
{
    background-image: url('../../Assets/banner.webp') !important;
    background-size: cover;
    background-attachment: fixed;
}
.custom_banner_section h1
{
    font-size: 3.5rem;
    background: linear-gradient(105deg, rgb(0, 124, 207) 1%, rgb(59, 177, 142) 82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}